main{
    font-family: 'montserrat', sans-serif;
}
.heading{
    margin: 200px 0 100px 0;
    text-align: center;
}
.events{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.heading h1{
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.events .container{
    display: flex;
    margin-bottom: 200px;
    align-items: center;
}
.event{
    padding: 40px;
}
.events img{
    width: min(800px, 90vw);
    height: calc(min(800px, 90vw) * 0.5); /* Maintains 2:1 aspect ratio */
    object-fit: cover;
}
@media screen and (max-width: 1200px) {
    .heading h1{
        font-size: 60px;
    }
}
@media screen and (max-width: 992px) {
    .heading h1{
        font-size: 50px;
    }
    .events .container{
       margin: 0 20px 40px 20px;
       flex-direction: column !important;
    }
}
@media screen and (max-width: 768px) {
    .heading h1{
        font-size: 40px;
    }
    .events img{
        height: 250px;
        width: 500px;
    }
    .event{
        padding: 5px;
    }
}
@media screen and (max-width: 576px) {
    .heading h1{
        font-size: 30px;
    }
    .events img{
        height: 200px;
        width: 300px;
    }
    .event{
        padding: 10px;
    }
}