main {
    padding: 0 10%;
    font-family: 'Montserrat', sans-serif;
}
.mainHeading{
    text-align: center;
    margin-top: 150px;
}
.mainHeading h1{
    font-size: 70px;
    color: white; /* changed text color to white */
    text-shadow: 0px 0px 40px rgb(0, 0, 0); /* added shadow */
    font-weight: 500;
    font-family: 'montserrat', sans-serif;
}
.gallery-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 4px;
    width: auto;
    margin: 0 auto;
    height: auto;
    margin: 90px 0 40px 0;
}

.main-image {
    grid-row: 1 / span 1;
    grid-column: 1;
    position: relative;
}

.side-images {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}

.gallery-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more-photos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 16px;
    font-size: 30px;
    font-weight: bold;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-images {
    display: none;
}

a {
    cursor: pointer;
    display: block;
    height: 100%;
}

.fancybox__thumbs .carousel__slide {
    width: var(--fancybox-thumbs-width, 112px) !important;
}

/* Мобільна карусель */
.mobile-gallery {
    display: none;
    width: 100%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-top: 30px; /* Додаємо відступ зверху */
}

.swiper-button-prev,
.swiper-button-next {
    color: #ededed !important;
    top: 50%; /* Центруємо вертикально */
    transform: translateY(0%);
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .no-lightbox {
    pointer-events: none;
}

:root {
    --swiper-theme-color: white;
}

.swiper-pagination {
    display: none;
}

.heading-section h2 {
    width: 100%;
    font-size: 45px;
    transform: translateY(120%);
}

.infoContainer {
    display: flex;
    justify-content: center;
}

.info {
    width: 100%;
    background-color: #ededed;
    padding: 10px 20px 0px 20px;
}
.info h4{
    font-size: 16px;
}
.info p{
    font-size: 14px;
}

.tablist {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.tablist li {
    flex-grow: 1;
    padding: 10px 20px;
    cursor: pointer;
    color: #383849;
    border-radius: 30px;
    transition: 0.3s ease;
    text-align: center;
}

.tablist li:hover {
    background-color: #ccc;
}

.tablist li:last-child {
    border-right: none;
}

.tablist li.active {
    background-color: #383849;
    color: #f4f4f4;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.smallInfo svg {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.smallInfo {
    display: flex;
    gap: 10px;
}

#tab-0.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Базові стилі для карти */
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* Аспект 4:3, можна змінити на 56.25% для 16:9 */
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Змінено з auto на 100% */
    border: 0;
}

/* Додаткові стилі для активного табу з картою */
#tab-1.active {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

#tab-1.active .map-container {
    flex-grow: 1;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
}

.item img {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.items .item {
    display: flex;
    gap: 10px;
}
.contentInside{
    padding-right: 262px;
  
}
.description {
    margin:20px 0 100px 0;
    text-align: justify;
    font-family: 'montserrat', sans-serif;
}
.description svg{
    height: 40px;
    fill: #383849;
}
@media (min-width: 1400px) {
    .gallery-container {
        max-width: 1300px;
        margin: 90px auto 40px auto;
    }
}

@media (min-width: 1600px) {
    .gallery-container {
        max-width: 1600px;
        margin: 90px auto 40px auto;
    }
}
@media (max-width: 1200px) {
    .info {
        height: 100% !important;
    }
    .contentInside {
        padding: 0;
    }
    .mainHeading h1 {
        font-size: 60px;
    }
    .map-container {
        padding-bottom: 70%;
    }
}
@media (max-width: 992px) {
    #tab-1.active {
        height: 100% !important;
    }
    .map-container iframe {
        width: 100%;
        height: 100%;
    }
    #tab-0.active {
        grid-template-columns: repeat(1, 1fr);
    }
    #tab-1.active {
        flex-direction: column;
    }
    .heading-section h2 {
        font-size: 35px;
        transform: translateY(70%);
    }
    .swiper-button-prev,
    .swiper-button-next {
        top: 50%; /* Центруємо вертикально */
        transform: translateY(20%);
    }
    .map-container {
        margin-bottom: 20px;
        padding-bottom: 65%;
        margin-bottom: 15px;
    }
    .mainHeading {
        margin-top: 100px;
    }
    .mainHeading h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 0 10px;
    }
    .tablist {
        padding: 0;
    }
    .info {
        padding: 10px;
    }
    
    .tab-content {
        padding: 10px 5px;
    }
    .mainHeading {
        margin-top: 100px;
    }
    .mainHeading h1 {
        font-size: 40px;
    }
    .map-container {
        padding-bottom: 75%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .gallery-container {
        display: none;
    }
    .mobile-gallery {
        display: block;
    }
    .swiper {
        height: 50vh;
    }
}

@media screen and (max-width: 576px) {
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .heading-section h2 {
        width: 100%;
        font-size: 25px;
        padding: 0 5px 0 5px;
        margin-bottom: 20px;
        position: relative;
    }
    .description{
        padding: 0 10px 0 10px;
        
    }
    .swiper {
        margin-top: 30px;
    }
    .swiper-slide {
        background: linear-gradient(to bottom, white 50%, #ededed 50%);
        margin-bottom: 10px; 
    }
    .tablist{
        width: 100%;
    }
    main{
        padding: 0;
    }
    .map-container{
        width: 100%;
        padding-bottom: 100%; /* Збільшуємо висоту для мобільних */
        margin-bottom: 10px;
    }
    .items {
        margin-left:0;
    }
    .mainHeading {
        margin-top: 50px;
        padding-top: 40px;
        transform: translateY(50%);
        z-index: 999;
        position: relative;
       
    }
    .mainHeading h1 {
        font-size: 30px;
    }
   
}

@media (min-width: 1400px) {
    main {
        padding: 0 15%;
    }
    .swiper {
        height: 60vh;
    }
}

   


@media (min-width: 1600px) {
    main {
        padding: 0 20%;
    }
    .swiper {
        height: 70vh;
    }
}

/* Оновлений стиль для heading-section */
.heading-section {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    overflow: hidden; /* Запобігає переповненню на малих екранах */
}

.heading-section h2 {
    font-size: 45px;
    font-weight: 500;
    color: #383849;
    position: relative;
    display: inline-block;
    margin: 0; /* Видаляємо стандартні відступи */
    transform: none; /* Видаляємо початкову трансформацію */
    
}

/* Адаптивність для різних екранів */
@media (max-width: 1200px) {
    .heading-section h2 {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .heading-section {
        margin-bottom: 30px;
    }
    
    .heading-section h2 {
        font-size: 35px;
        padding-bottom: 12px;
    }
}

@media (max-width: 768px) {
    .heading-section {
        margin-bottom: 25px;
        text-align: center; /* Центрування на середніх екранах */
    }
    
    .heading-section h2 {
        font-size: 32px;
        padding-bottom: 10px;
    }
    
    .heading-section h2::after {
        left: 50%;
        transform: translateX(-50%) scaleX(0.7);
    }
    
    .heading-section:hover h2::after {
        transform: translateX(-50%) scaleX(1);
    }
}

@media (max-width: 576px) {
    .heading-section {
        margin-bottom: 20px;
        margin-top: 15px;
    }
    
    .heading-section h2 {
        font-size: 25px;
        padding: 0 5px 8px;
    }
}