<header>
    <div class="logo">
      <a href="/"><img id="logoforchange" src="/assets/images/common/white-logo.svg" alt="logo"></a>
    </div>
        <ul class="navigation-bar">
          <li class="navigation-items"><a  href="/pages/about/">Про нас</a></li>
          <li class="navigation-items"><a  href="/#mandrivnuky">Мандрівнику</a></li>
          <div class="nav-items">Місця
            <div class="dropdown">
                <a href="/pages/church-complex/">Храми</a>
                <a href="/pages/pamyatku/">Пам'ятки</a>
                <a href="/pages/parks/">Природа</a>
                <a href="/pages/skutu/">Скити</a>
                <a href="/pages/undergrounds/">Підземелля</a>
                <a href="/pages/holyies/">Святині</a>
            </div>
        </div>
          <li class="navigation-items"><a  href="/pages/events/">Події</a></li>
          
        </ul>

      <div class="list">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Меню</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/pages/about/">Про нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#mandrivnuky">Мандрівнику</a>
            </li>
            <li class="menu-item">
              <button class="collapse-btn" data-bs-toggle="collapse" data-bs-target="#collapseMisc" aria-expanded="false" aria-controls="collapseMisc">
                Місця
            </button>
            
              <div class="collapse" id="collapseMisc">
                <ul class="submenu">
                  <li><a href="/pages/church-complex/" class="sublink">Храми</a></li>
                  <li><a href="/pages/pamyatku/" class="sublink">Пам'ятки</a></li>
                  <li><a href="/pages/parks/" class="sublink">Природа</a></li>
                  <li><a href="/pages/skutu/" class="sublink">Скити</a></li>
                  <li><a href="/pages/undergrounds/" class="sublink">Підземелля</a></li>
                  <li><a href="/pages/holyies/" class="sublink">Святині</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/events/">Події</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header>
