<header>
    <div class="logo">
      <a href="/index.html"><img id="logoforchange" src="/assets/images/common/white-logo.svg" alt="logo"></a>
    </div>
        <ul class="navigation-bar">
          <li class="navigation-items"><a  href="/pages/about/index.html">Про нас</a></li>
          <li class="navigation-items"><a  href="/pages/reports/index.html">Мандрівнику</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              Місця
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Храми</a></li>
              <li><a class="dropdown-item" href="#">Пам'ятки</a></li>
              <li><a class="dropdown-item" href="#">Природа</a></li>
              <li><a class="dropdown-item" href="#">Скити</a></li>
              <li><a class="dropdown-item" href="#">Підземелля</a></li>
              <li><a class="dropdown-item" href="#">Святині</a></li>
            </ul>
          </li>
          <li class="navigation-items"><a  href="/pages/news/index.html">Події</a></li>
          
          
        </ul>

      <div class="list">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Меню</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/pages/about/index.html">Про нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/news/index.html">Мандрівнику</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Мандрівнику</a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/pages/reports/index.html">Події</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header>
