#footer-container {
    background-color: black;
    padding: 40px 20px;
    font-family: 'montserrat';
    color: #f4f4f4 !important;
    text-decoration: none;
}

/* First part styles */
#footer-container .footer-top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#footer-container .footer-top h5 {
    color: #f4f4f4;
    margin-bottom: 20px;
}

#footer-container .logo img {
    transform: scale(1.1);
}
#footer-container .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#footer-container .logo {
    border: none;
    background-color: transparent;
    align-self: center;
}

#footer-container .nav-item {
    color: #f4f4f4;
    white-space: nowrap;
}

#footer-container .text-body-secondary {
    color: #f4f4f4 !important;
}

/* Second part styles */
#footer-container .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#footer-container .copyright-info {
    margin-bottom: 20px;
}

#footer-container .social-media-container {
    display: flex;
    justify-content: flex-end;
}

#footer-container .nav-link:hover {
    color: #f4f4f49d !important;
    text-decoration: none;
    background-color: transparent !important;
}

#footer-container .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

#footer-container .social-media svg {
    fill: #f4f4f4;
    transform: scale(2.3);
    transition: 0.3s ease;
}

#footer-container .social-media .bi.bi-facebook:hover, 
#footer-container .social-media .bi.bi-youtube:hover {
    transform: scale(2.5);
}

/* Responsive adjustments */
@media screen and (max-width: 990px) {
    #footer-container .social-media-container {
        justify-content: center;
    }
}

@media screen and (max-width: 770px) {
    #footer-container .footer-top, 
    #footer-container .footer-bottom {
        flex-direction: column;
    }
    
    #footer-container .footer-bottom {
        text-align: center;
    }
    
    #footer-container .social-media-container {
        justify-content: center;
    }
    
    #footer-container .copyright-info {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 576px) {
    #footer-container .footer-top > div,
    #footer-container .footer-bottom > div {
        width: 100%;
    }
    
    #footer-container .d-flex {
        flex-direction: column;
    }
    
    #footer-container .logo img {
        transform: scale(1);
    }
    
    #footer-container .nav-item {
        white-space: normal;
    }
    
    #footer-container {
        padding: 40px 10px;
    }
}